<h1>Locker Bank</h1>

<p *ngIf="!regionList"><em>Loading...</em></p>

<div class="row">
  <div class="col-md-5">
    <label class="col-md-1">Regions</label>
    <select class="form-control" data-val="true" (change)="getLockerBankList($event.target.value)">
      <option value="">--Select Region--</option>
      <option *ngFor="let reg of regionList"
              value={{reg.id}}>
        {{reg.name}}
      </option>
    </select>
  </div>
  <div *ngIf="bankList?.length>0" class="col-md-5">
    <label class="col-md-4">Locker Bank</label>
    <select class="form-control" data-val="true" (change)="getLockerList($event.target.value)">
      <option value="">--Select Locker--</option>
      <option *ngFor="let bank of bankList"
              value={{bank.id}}>
        {{bank.name}}
      </option>
    </select>
  </div>
</div>

<table class='table' *ngIf="lockers?.length>0">
  <thead>
    <tr>
      <th>Locker ID</th>
      <th>Locker Name</th>
      <th>Is Active</th>
      <th>Is Open</th>
      <th>Key</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let locker of lockers">
      <td>{{ locker.id }}</td>
      <td>{{ locker.name }}</td>
      <td>{{ locker.isActive }}</td>
      <td>{{ locker.isOpen }}</td>
      <td>
        <input type="text" maxlength="4" id="key_{{locker.id}}" style="width:60px;" />
        <a [routerLink]="" (click)="validateKey(locker.lockerKey, locker.id)">Validate Key</a>
      </td>
    </tr>
  </tbody>
</table>
